[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "TSS.RESTREND"]
	path = TSS.RESTREND
	url = https://github.com/cran/TSS.RESTREND
	shallow = true
	registered = true
